.last-lots-container {
    height: 440px;
    position: relative;
}


.last-lots-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 243px;
    height: 30px;
    background: #FFE06A;
    border-radius: 10px;
    border: 4px solid white;
    margin-left: 46px;
    margin-bottom: 50px;

    font-weight: 700;
}

.all-lots-caption {
    color: #84ADFF;
    text-decoration: none;
}

.all-lots-caption:hover {
    color: white;
}

.last-lots  {
    margin-left: 46px;
    margin-right: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lot-caption {
    font-weight: 600;
    margin-left: 157px;
}

.lot-home {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    border: 4px solid transparent;

    width: 178px;
    height: 249px;
    background: white;
    border-radius: 10px;
    margin-right: 16px;
}

.lot-home:hover {
    border: 4px solid #84ADFF;
}

.lot-home-photo {
    width: 149px;
    height: 123px;
    background: #FFC700;
    border-radius: 10px;
    margin: 13px;
}

.lot-home-descr {
    margin: 8px;
    width: 114px;
    height: 33px;

    font-size: 14px;
    font-weight: 600;
}

.lot-home-price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 33px;

    color: #FF7500;
    font-size: 14px;
    font-weight: 600;
}